/*******************************************************************************
 * Nord2 - A sub-theme of Joplin's Built-in Nord theme.
 *
 * Latest Version: https://github.com/mattsbennett/joplin-Nord2
 * Designed by: Matthew Bennett
 * Goals: Readability, even, mid-contrast, minimalism.
 *
 * userchrome.css: Custom stylesheet for Joplin-wide app styles.
 ******************************************************************************/

/* Variables ---------------------------------------------------------------- */
:root {
    /* Nord2 values */
    --white: hsla(255, 0%, 100%, 1);
    --light-grey: hsla(0, 0%, 85%, 1);
    --font-sans: "SF Pro Text";
    --font-mono: "Fira Code";

    /* Nord values */
    --nord-highlight: #00AEEF;
    --nord-sidebar: rgb(67, 76, 94);
    --nord-note-list-selected: rgb(129, 161, 193);

    /* Nord derivative values */
    --nord-highlight-light: hsla(196, 100%, 67%, 1);
    --nord-highlight-lighter: hsla(196, 100%, 87%, 1);
    --nord-note-list-background-light: hsla(220, 16%, 25%, 1);
}

/* Base Elements ------------------------------------------------------------ */
body,
a,
span {
    font-family: var(--font-sans) !important;
}

input {
    border: 1px solid var(--nord-sidebar) !important;
}

button:focus,
input:focus,
select:focus {
    outline: var(--nord-note-list-selected) auto 2px !important;
}

/* Sidebars ----------------------------------------------------------------- */
div,
.side-bar,
.side-bar div,
.side-bar div a {
    color: var(--light-grey) !important;
}

.note-list .list-item-container > div {
    height: 48px !important;
}

.note-list .list-item-container {
    border-bottom: 1px solid var(--nord-note-list-background-light) !important;
    height: 48px !important;
}

.synchronize-button {
    border: 0 !important;
}

/* Main Header -------------------------------------------------------------- */
.header a,
.header .button,
.header .button .fa,
.note-list .list-item-container a {
    color: var(--light-grey) !important;
}

/* Note Header -------------------------------------------------------------- */
.editor-toolbar,
.tag-list {
    border-bottom: 1px solid var(--nord-sidebar) !important;
}

.tag-list span {
    border-radius: 2px !important;
    color: var(--light-grey) !important;
}

/* Markdown ----------------------------------------------------------------- */
.ace_editor div,
.ace_editor span {
    font-family: var(--font-mono) !important;
}
